<!DOCTYPE html>
<html>
  <head>
    <title>Hello Rails on Render!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header style="width: 100%;">
      <a href="https://render.com" style="object-fit: contain;">
        <%= image_tag 'render-banner.png' %>
      </a>
    </header>
    <%= yield %>
  </body>
</html>
